/* escritorio */

@media (min-width:1025px) {


    /* GRID AREAS */
    
    #gridAreas {
    
        display: grid;
    
        grid-template-areas:
    
        "sup sup sup"
        "navegacion navegacion navegacion"
        "carr carr carr"
        "atrac atrac atrac"
        "add add promoc"
        "table table promoc"
        "contact contact contact"
        "pie pie pie";
    }
    
    
    
    /* INICIO CSS */
    
    * {
        
        margin-left: 5px;
        margin-right: 5px;
        width: 90vw;
    
    }
    
    
    
    #logo img {
        width: 100px;
    }
    
    nav div {
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(54, 102, 190);
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
        color: cornsilk;
    }
    
    nav  a:visited {
        text-decoration: none;
        color:cornsilk
    }
    nav a:active {
        text-decoration: none;
        color: cornsilk;
    }
    
    
    #atracciones {
    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #atracciones div img {
        width: 20vw;
    }
    
    #promo .add-vertical {
        display: block;
    }
    
    #promo .add-horizontal {
        display: none;
    }
    
    #info {
        width: 68vw;
    }
    
    #info h1 {
        text-align: center;
        width: 68vw;
    }
    
    #info p {
        text-align: center;
        width: 68vw;
    }
    
    #tabla {
        width: 68vw;
    }
    
    #tabla h1 {
        text-align: center;
        width: 68vw;
    }
    
    #tabla img {
        width: 68vw;
    }
    
    #promo {
        width: 20vw;
    }
    
    #promo img {
        width: 20vw;
       
    }
    
    #contacto h1 {
        text-align: center;
    }
    
    #contacto {
        text-align: center;
    }
    
    #contacto .formfond {
        background-color: cornsilk;
    }
    
    footer {
        text-align: center;
    }
    
    
    /* FIN CSS */
    
    
    
    /* FLEX */
    #logo {
    
        display: flex;
        justify-content: center;
        
    }
    
    .nav-flex  {
    
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: center;
    
    }
    
    .grilla-grid {
        display: flex;
        flex-flow: row nowrap;
    }
    
    #contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    #promo {
        display: flex;
        justify-content: flex-end;
    }
    
    /* FIN FLEX */
    
    /* ANIMACION */
    
    .navanim {
        transition: width, 1s;
    }
    .navanim:hover {
        width: 300px;
    }
    
    .imgatra-flex img {
        transition: scale, 1s;
    }
    .imgatra-flex img:hover {
        scale: 110%;
    }
    
    /* FIN ANIMACION */
    
    
    }
    
    /* FIN ESCRITORIO */